result/*
build/*
cmake-build-debug/*
cmake-build-release/*
input/*

uml.puml
uml2.puml
uml3.puml

# Stelle sicher, dass das Verzeichnis input nicht ignoriert wird
!input/
!result/
!build/

# Erlaube eine .gitignore-Datei im Verzeichnis input (optional, falls du .gitignore im Verzeichnis haben möchtest)
!input/.gitkeep
!result/.gitkeep
!build/.gitkeep
!input/convolved.tif
!input/psf.tif
!input/origin.tif
